#!/usr/bin/env rc

fn sigint{
	rm -f $file $raw $sum $srt
}

fn sighup{
	rm -f $file $raw $sum $srt
}

fil=`{mktemp}
raw=`{mktemp}
sum=`{mktemp}
srt=`{mktemp}

for(i)
	switch($i){
	case '-r'
		rec='1'
	case *
		dir=$i
	}

if(~ $rec 1)
	du -a $dir | sed 's/^[0-9]\+\t//' | sed '$d' >$raw
if not
	ls $dir >$raw

for(entry in `{cat $raw})
	if(test -f $entry)
		echo $entry >>$fil

for(entry in `{cat $fil})
	md5sum $entry | sed 's/ [^ ]\+$//' >>$sum

paste $sum $fil >$raw
sort $raw >$srt

awk '{
	if (lastsum==$1) { printf("%s:",lastname); lasteq=1 }
	if (lastsum!=$1&&lasteq==1) { printf("%s\n", lastname); lasteq=0 }
	lastsum=$1; lastname=$2
}' $srt

rm $fil $raw $sum $srt

exit 0
